@import "tailwindcss";
.badge-orange {
    background-color: #faeeda;
    color: #633806;
    font-weight: 700;
}

.badge-red {
    background-color: #fcdcdc;
    color: #b91c1c;
    font-weight: 700;
}

badge-green {
    background-color: #dcfce7;
    color: #166534;
    font-weight: 700;
}