{
  "Logging": {
    "LogLevel": {
      "Default": "Debug",
      "Microsoft.AspNetCore": "Information"
    }
  },
  "ConnectionStrings": {
    "AuthDb": "Server=localhost;Database=pharma_auth_dev;User=YOUR_USER;Password=YOUR_PASSWORD;Pooling=true;MinimumPoolSize=5;MaximumPoolSize=50;"
  },
  "Jwt": {
    "Issuer": "pharma-qms",
    "Audience": "pharma-qms-spa",
    "Key": "dev-secret-jwt-key-that-must-be-at-least-32-characters-long!!!!",
    "AccessTokenMinutes": 15,
    "RefreshTokenDays": 7
  }
}
