{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "AuthDb": "Server=YOUR_SERVER;Database=pharma_auth;User=YOUR_USER;Password=YOUR_PASSWORD;Pooling=true;MinimumPoolSize=5;MaximumPoolSize=50;"
  },
  "Jwt": {
    "Issuer": "pharma-qms",
    "Audience": "pharma-qms-spa",
    "Key": "your-super-secret-jwt-key-that-must-be-at-least-32-characters-long!!!!",
    "AccessTokenMinutes": 15,
    "RefreshTokenDays": 7
  }
}
